.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
.env
data/db.sqlite
data/articles/*
!data/articles/.gitkeep
data/uploads/*
!data/uploads/.gitkeep
data/style_lib/*
!data/style_lib/.gitkeep
.idea
.vscode
*.md
!README.md
